# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
.vs/leito/v16/.suo
.vs/leito/v16/Preview/Browse.VC.db
.vs/leito/v16/Preview/ipch/AutoPCH/344a477027a8bf33/HOOK.ipch
*.ipch
*.iobj
*.ipdb
*.pdb
*.tlog
*.db-shm
*.db-wal
*.opendb
Release
Debug
.vs/leito/v16/Browse.VC.db
